.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.text-not-found {
    font-size: 32px;
    margin: 16px;
    font-weight: bold;
}